@page
@model Filip_ASP_NET_Core_1.Pages.Database_Objects.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Database Object</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Database_Object.ID" />
            <div class="form-group">
                <label asp-for="Database_Object.Title" class="control-label"></label>
                <input asp-for="Database_Object.Title" class="form-control" />
                <span asp-validation-for="Database_Object.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Database_Object.Date" class="control-label"></label>
                <input asp-for="Database_Object.Date" class="form-control" />
                <span asp-validation-for="Database_Object.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Database_Object.Description" class="control-label"></label>
                <input asp-for="Database_Object.Description" class="form-control" />
                <span asp-validation-for="Database_Object.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
