@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This is a simple web app I created in ASP.NET Core which is an open soure cross-platform version of .NET for building websites, services, and console apps.</p>
        <p></p>
        <a asp-page="Database_Objects/Index">Go to the database</a>
        <p></p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
